* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: darkgray;
}

.grid {
  display: grid;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: rgb(46, 58, 80);
  color: aliceblue;
}

.logo {
  display: flex;
  cursor: pointer;
  gap: 0.2em;
  border: none;
  background-color: rgb(46, 58, 80);
  color: aliceblue;
}

.nav {
  grid-area: nav;
  background-color: rgba(139, 0, 0, 0.736);
  padding: 0.5rem;
  display: flex;
  gap: 1em;
}

.nav button {
  background-color: rgba(169, 64, 64, 0.736);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

.nav button:hover {
  background-color: red;
}

.main {
  grid-area: main;
}

.main-grid {
  display: grid;
}

.card {
  background-color: white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border-radius: 5px;
  gap: 0.5rem;
  margin: 1rem;
}

.foto {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.details h2 {
  text-align: center;
}

.product {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.add {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  background-color: rgb(0, 0, 172);
  color: white;

  transition: 0.3s ease-out;
}

.add:hover {
  background-color: rgb(52, 52, 255);
}

.info {
  cursor: pointer;
  background-color: white;
  color: rgb(46, 46, 46);
  border-color: rgb(46, 46, 46);
  border-radius: 5px;
  transition: 0.3s ease-out;
}

.info:hover {
  background-color: rgb(92, 92, 92);
  color: aliceblue;
}

.pages {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.pages button {
  cursor: pointer;
  padding: 0.3rem;
  background-color: white;
  color: darkblue;
  border-color: cyan;
  transition: 0.3s ease-out;
}

.pages button:hover {
  background-color: darkblue;
  border-color: blue;
  color: white;
}

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

@media (max-width: 576px) {
  .grid {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
  .header {
    padding: 0.5rem;
  }
  .nav {
    justify-content: flex-end;
  }
  .main-grid {
    grid-template-columns: auto;
  }
}

@media (min-width: 577px) {
  .grid {
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
    grid-template-columns: 1fr 4fr;
  }
  .header {
    padding: 2rem;
  }
  .nav {
    flex-direction: column;
  }
  .nav button {
    padding: 0.5em;
  }
  .main-grid {
    grid-template-columns: auto auto auto;
  }
}
